h1 {
    text-align: center;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
}

form {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

label {
    margin-right: 10px; 
}

input[type="submit"] {
    display: block;
}

